<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Simple APIs 
## Random User and Fruitvice API Examples


Estimated time needed: **25** minutes

## Objectives

After completing this lab you will be able to:

*   Load and use RandomUser API, using `RandomUser()` Python library
*   Load and use Fruitvice API, using `requests` Python library

The purpose of this notebook is to provide more examples on how to use simple APIs. As you have already learned from previous videos and notebooks, API stands for Application Programming Interface and is a software intermediary that allows two applications to talk to each other. 

The advantages of using APIs:
 *   **Automation**. Less human effort is required and workflows can be easily updated to become faster and more      
     productive.
 *   **Efficiency**. It allows to use the capabilities of one of the already developed APIs than to try to 
     independently implement some functionality from scratch.
 
The disadvantage of using APIs:
 *   **Secirity**. If the API is poorly integrated, it means it will be vulnerable to attacks, resulting in data    
     breeches or losses having financial or reputation implications.

One of the applications we will use in this notebook is Random User Generator. RandomUser is an open-source, free API providing developers with randomly generated users to be used as placeholders for testing purposes. This makes the tool similar to Lorem Ipsum, but is a placeholder for people instead of text. The API can return multiple results, as well as specify generated user details such as gender, email, image, username, address, title, first and last name, and more. More information on [RandomUser](https://randomuser.me/documentation?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork1005-2022-01-01#intro) can be found here.

Another example of simple API we will use in this notebook is Fruitvice application. The Fruitvice API webservice which provides data for all kinds of fruit! You can use Fruityvice to find out interesting information about fruit and educate yourself. The webservice is completely free to use and contribute to.

## Example 1: RandomUser API
Bellow are Get Methods parameters that we can generate. For more information on the parameters, please visit this [documentation](https://randomuser.me/documentation?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork1005-2022-01-01) page.

## **Get Methods**

- get_cell()
- get_city()
- get_dob()
- get_email()
- get_first_name()
- get_full_name()
- get_gender()
- get_id()
- get_id_number()
- get_id_type()
- get_info()
- get_last_name()
- get_login_md5()
- get_login_salt()
- get_login_sha1()
- get_login_sha256()
- get_nat()
- get_password()
- get_phone()
- get_picture()
- get_postcode()
- get_registered()
- get_state()
- get_street()
- get_username()
- get_zipcode()

To start using the API you can install the `randomuser` library running the `pip install` command.

In [1]:
!pip install randomuser

Collecting randomuser
  Downloading randomuser-1.6.tar.gz (5.0 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: randomuser
  Building wheel for randomuser (setup.py) ... done
  Created wheel for randomuser: filename=randomuser-1.6-py3-none-any.whl size=5067 sha256=04b6e91a684eb5c6876bccc3551ba54d3ddaa94ec30557e77c345ce09e64caae
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/f8/a9/23/1df3ef7a5177d99b4cba8fa52415e1360bde68f520c2a0e489
Successfully built randomuser
Installing collected packages: randomuser
Successfully installed randomuser-1.6

Then, we will load the necessary libraries.

In [2]:
from randomuser import RandomUser
import pandas as pd

First, we will create a random user object, r.

In [5]:
r = RandomUser()
type(r)

randomuser.RandomUser

Then, using `generate_users()` function, we get a list of random 10 users.

In [6]:
some_list = r.generate_users(10)

In [7]:
some_list

[<randomuser.RandomUser at 0x7f3bcd235890>,
 <randomuser.RandomUser at 0x7f3bcd2358d0>,
 <randomuser.RandomUser at 0x7f3bcd235910>,
 <randomuser.RandomUser at 0x7f3bcd235950>,
 <randomuser.RandomUser at 0x7f3bcd235990>,
 <randomuser.RandomUser at 0x7f3bcd235a10>,
 <randomuser.RandomUser at 0x7f3bcd235a50>,
 <randomuser.RandomUser at 0x7f3bcd235a90>,
 <randomuser.RandomUser at 0x7f3bcd235ad0>,
 <randomuser.RandomUser at 0x7f3bcd2359d0>]

The **"Get Methods"** functions mentioned at the beginning of this notebook, can generate the required parameters to construct a dataset. For example, to get full name, we call `get_full_name()` function.

In [8]:
name = r.get_full_name()

Let's say we only need 10 users with full names and their email addresses. We can write a "for-loop" to print these 10 users.

In [9]:
for user in some_list:
    print (user.get_full_name()," ",user.get_email())

Kuzey Elçiboğa   kuzey.elciboga@example.com
Javier Sanchez   javier.sanchez@example.com
Meinhard Feldhaus   meinhard.feldhaus@example.com
Judy Thomas   judy.thomas@example.com
Mark Griffin   mark.griffin@example.com
Desiree Ribbens   desiree.ribbens@example.com
Matthew Fortin   matthew.fortin@example.com
Rose Wood   rose.wood@example.com
Kadir Ilıcalı   kadir.ilicali@example.com
Nicole Sanchez   nicole.sanchez@example.com

## Exercise 1
In this Exercise, generate photos of the random 5 users.

In [10]:
## Write your code here
for user in some_list:
    print (user.get_picture())

https://randomuser.me/api/portraits/men/5.jpg
https://randomuser.me/api/portraits/men/73.jpg
https://randomuser.me/api/portraits/men/87.jpg
https://randomuser.me/api/portraits/women/51.jpg
https://randomuser.me/api/portraits/men/28.jpg
https://randomuser.me/api/portraits/women/28.jpg
https://randomuser.me/api/portraits/men/59.jpg
https://randomuser.me/api/portraits/women/17.jpg
https://randomuser.me/api/portraits/men/74.jpg
https://randomuser.me/api/portraits/women/46.jpg

<details><summary>Click here for the solution</summary>

```python
for user in some_list:
    print (user.get_picture())
```

</details>

To generate a table with information about the users, we can write a function containing all desirable parameters. For example, name, gender, city, etc. The parameters will depend on the requirements of the test to be performed. We call the Get Methods, listed at the beginning of this notebook. Then, we return pandas dataframe with the users.

In [11]:
def get_users():
    users =[]
     
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})
      
    return pd.DataFrame(users)

In [14]:
get_users()

,Name,Gender,City,State,Email,DOB,Picture
0,Hannah Chen,female,Dunedin,Otago,hannah.chen@example.com,1997-01-26T20:46:10.760Z,https://randomuser.me/api/portraits/women/69.jpg
1,Teófilo Gomes,male,Simões Filho,Rio de Janeiro,teofilo.gomes@example.com,1964-08-16T11:45:28.880Z,https://randomuser.me/api/portraits/men/33.jpg
2,Babak Groenevelt,male,Ruurlo,Groningen,babak.groenevelt@example.com,1975-11-09T00:10:35.184Z,https://randomuser.me/api/portraits/men/74.jpg
3,Önal Mertoğlu,male,Çanakkale,Burdur,onal.mertoglu@example.com,1983-03-07T23:07:01.142Z,https://randomuser.me/api/portraits/men/97.jpg
4,مهدي حسینی,male,شهریار,تهران,mhdy.hsyny@example.com,1962-02-12T02:29:46.949Z,https://randomuser.me/api/portraits/men/39.jpg
5,Milly Ahmad,female,Vanvikan,Telemark,milly.ahmad@example.com,1994-07-25T16:01:53.472Z,https://randomuser.me/api/portraits/women/76.jpg
6,Giray Çetiner,male,Tekirdağ,Çankırı,giray.cetiner@example.com,1977-12-20T11:13:24.187Z,https://randomuser.me/api/portraits/men/96.jpg
7,Noham Blanchard,male,Bordeaux,Drôme,noham.blanchard@example.com,1978-05-27T23:14:43.743Z,https://randomuser.me/api/portraits/men/7.jpg
8,Mahdi Mahamud,male,Hermansverk,Oppland,mahdi.mahamud@example.com,1978-02-22T04:18:12.441Z,https://randomuser.me/api/portraits/men/28.jpg
9,Hudson Singh,male,Borden,Ontario,hudson.singh@example.com,1977-12-19T05:44:21.656Z,https://randomuser.me/api/portraits/men/2.jpg

In [15]:
df1 = pd.DataFrame(get_users())

Now we have a *pandas* dataframe that can be used for any testing purposes that the tester might have.

## Example 2: Fruitvice API

Another, more common way to use APIs, is through `requests` library. The next lab, Requests and HTTP, will contain more information about requests.

We will start by importing all required libraries.

In [17]:
import requests
import json

We will obtain the [fruitvice](https://www.fruityvice.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork1005-2022-01-01) API data using `requests.get("url")` function. The data is in a json format.

In [20]:
data = requests.get("https://fruityvice.com/api/fruit/all")

We will retrieve results using `json.loads()` function.

In [25]:
results = json.loads(data.text)

We will convert our json data into *pandas* data frame.

In [27]:
df=pd.DataFrame(results)
df.head()

,name,id,family,order,genus,nutritions
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,"{'calories': 81, 'fat': 0.0, 'sugar': 18.0, 'c..."
1,Strawberry,3,Rosaceae,Rosales,Fragaria,"{'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'ca..."
2,Banana,1,Musaceae,Zingiberales,Musa,"{'calories': 96, 'fat': 0.2, 'sugar': 17.2, 'c..."
3,Tomato,5,Solanaceae,Solanales,Solanum,"{'calories': 74, 'fat': 0.2, 'sugar': 2.6, 'ca..."
4,Pear,4,Rosaceae,Rosales,Pyrus,"{'calories': 57, 'fat': 0.1, 'sugar': 10.0, 'c..."

The result is in a nested json format. The 'nutrition' column contains multiple subcolumns, so the data needs to be 'flattened' or normalized.

In [28]:
df2 = pd.json_normalize(results)

In [30]:
df2.head()

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81,0.0,18.0,18.0,0.0
1,Strawberry,3,Rosaceae,Rosales,Fragaria,29,0.4,5.4,5.5,0.8
2,Banana,1,Musaceae,Zingiberales,Musa,96,0.2,17.2,22.0,1.0
3,Tomato,5,Solanaceae,Solanales,Solanum,74,0.2,2.6,3.9,0.9
4,Pear,4,Rosaceae,Rosales,Pyrus,57,0.1,10.0,15.0,0.4

Let's see if we can extract some information from this dataframe. Perhaps, we need to know the family and genus of a cherry.

In [38]:
cherry = df2.loc[df2["name"] == 'Cherry']
(cherry.iloc[0]['family']) , (cherry.iloc[0]['genus'])

('Rosaceae', 'Prunus')

## Exercise 2
In this Exercise, find out how many calories are contained in a banana.

In [43]:
# Write your code here
Banana = df2.loc[df2["name"] == 'Banana']

Banana.iloc[0]['nutritions.calories']

96

<details><summary>Click here for the solution</summary>

```python
cal_banana = df2.loc[df2["name"] == 'Banana']
cal_banana.iloc[0]['nutritions.calories']
```

</details>

## Exercise 3

This [page](https://github.com/public-apis/public-apis#animals) contains a list of free public APIs. Choose any API of your interest and use it to load/extract some information, as shown in the example above.
1. Using `requests.get("url")` function, load your data.

In [44]:
# Write your code here
data2 = requests.get("https://www.fishwatch.gov/api/species")

<details><summary>Click here for the solution</summary>

```python
data2 = requests.get("https://www.fishwatch.gov/api/species")
```

</details>

2. Retrieve results using `json.loads()` function.

In [48]:
# Write your code here
results2=json.loads(data2.text)

<details><summary>Click here for the solution</summary>

```python
results2 = json.loads(data2.text)
```

</details>

3. Convert json data into *pandas* data frame.

In [47]:
# Write your code here
df3 = pd.DataFrame(results2)
df3

<details><summary>Click here for the solution</summary>

```python
df3 = pd.DataFrame(results2)
df3
```

</details>

# Congratulations! - You have completed the lab

## Author
[Svitlana Kramar](www.linkedin.com/in/svitlana-kramar)


Svitlana is a master’s degree Data Science and Analytics student at University of Calgary, who enjoys travelling, learning new languages and cultures and loves spreading her passion for Data Science.

                                Copyright © 2020 IBM Corporation. All rights reserved.