In [ ]:
!pip install pandas
!pip install requests
!mamba install bs4
!mamba install html5lib
!pip install lxml
!pip install plotly

In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

First we must use the request library to downlaod the webpage, and extract the text. We will extract Netflix stock data https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html.

In [4]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"

data  = requests.get(url).text

Next we must parse the text into html using beautiful_soup

In [5]:
soup = BeautifulSoup(data, 'html5lib')

Now we can turn the html table into a pandas dataframe

In [6]:
netflix_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

# First we isolate the body of the table which contains all the information
# Then we loop through each row and find all the column values for each row
for row in soup.find("tbody").find_all('tr'):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text
    
    # Finally we append the data of each row to the table
    netflix_data = netflix_data.append({"Date":date, "Open":Open, "High":high, "Low":low, "Close":close, "Adj Close":adj_close, "Volume":volume}, ignore_index=True)


We can now print out the dataframe

In [8]:
netflix_data.head()

           Date    Open    High     Low   Close       Volume Adj Close
0  Jun 01, 2021  504.01  536.13  482.14  528.21   78,560,600    528.21
1  May 01, 2021  512.65  518.95  478.54  502.81   66,927,600    502.81
2  Apr 01, 2021  529.93  563.56  499.00  513.47  111,573,300    513.47
3  Mar 01, 2021  545.57  556.99  492.85  521.66   90,183,900    521.66
4  Feb 01, 2021  536.79  566.65  518.28  538.85   61,902,300    538.85

We can also use the pandas read_html function using the url

In [13]:
read_html_pandas_data =pd.read_html(url)

Or we can convert the BeautifulSoup object to a string

In [14]:
read_html_pandas_data = pd.read_html(str(soup))


Beacause there is only one table on the page, we just take the first table in the list returned

In [15]:
netflix_dataframe = read_html_pandas_data[0]

netflix_dataframe.head()

           Date    Open    High     Low  Close* Adj Close**     Volume
0  Jun 01, 2021  504.01  536.13  482.14  528.21      528.21   78560600
1  May 01, 2021  512.65  518.95  478.54  502.81      502.81   66927600
2  Apr 01, 2021  529.93  563.56  499.00  513.47      513.47  111573300
3  Mar 01, 2021  545.57  556.99  492.85  521.66      521.66   90183900
4  Feb 01, 2021  536.79  566.65  518.28  538.85      538.85   61902300

# **Using Webscraping to Extract Stock Data Exercise**

Use the requests library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html. Save the text of the response as a variable named html_data.

In [18]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html"
html_data = requests.get(url)

Parse the html data using beautiful_soup

In [19]:
soup = BeautifulSoup(html_data.content, 'html.parser')

In [20]:
title = soup.title.text
print(title)

Amazon.com, Inc. (AMZN) Stock Historical Prices & Data - Yahoo Finance

Using beautiful soup extract the table with historical share prices and store it into a dataframe named amazon_data. The dataframe should have columns Date, Open, High, Low, Close, Adj Close, and Volume. Fill in each variable with the correct data from the list col.

In [30]:
tables = pd.read_html(html_data.text)

Print out the first five rows of the amazon_data dataframe you created.

In [32]:
df = tables[0]
df.head()

           Date     Open     High      Low   Close* Adj Close**     Volume
0  Jan 01, 2021  3270.00  3363.89  3086.00  3206.20     3206.20   71528900
1  Dec 01, 2020  3188.50  3350.65  3072.82  3256.93     3256.93   77556200
2  Nov 01, 2020  3061.74  3366.80  2950.12  3168.04     3168.04   90810500
3  Oct 01, 2020  3208.00  3496.24  3019.00  3036.15     3036.15  116226100
4  Sep 01, 2020  3489.58  3552.25  2871.00  3148.73     3148.73  115899300

In [38]:
new_df = df[["Date", "Open", "High", "Low", "Close*", "Volume"]]

new_df[:-1]

            Date     Open     High      Low   Close*     Volume
0   Jan 01, 2021  3270.00  3363.89  3086.00  3206.20   71528900
1   Dec 01, 2020  3188.50  3350.65  3072.82  3256.93   77556200
2   Nov 01, 2020  3061.74  3366.80  2950.12  3168.04   90810500
3   Oct 01, 2020  3208.00  3496.24  3019.00  3036.15  116226100
4   Sep 01, 2020  3489.58  3552.25  2871.00  3148.73  115899300
..           ...      ...      ...      ...      ...        ...
56  May 01, 2016   663.92   724.23   656.00   722.79   90614500
57  Apr 01, 2016   590.49   669.98   585.25   659.59   78464200
58  Mar 01, 2016   556.29   603.24   538.58   593.64   94009500
59  Feb 01, 2016   578.15   581.80   474.00   552.52  124144800
60  Jan 01, 2016   656.29   657.72   547.18   587.00  130200900

[61 rows x 6 columns]